:root {
    --color-accent: hsl(48, 100%, 58%);
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-inset-left: env(safe-area-inset-left, 0px);
    --safe-area-inset-right: env(safe-area-inset-right, 0px);
}

html,
body {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    overflow: hidden;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    background: #13100e;
    color: #ffffff;
    overscroll-behavior-y: none;
}

button {
    background: unset;
    border: unset;
    color: unset;
    text-align: unset;
}

input {
    font-size: unset;
    background: unset;
    border: unset;
    color: unset;
    outline: none;
}
